/* Reset */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

    a {
      text-decoration: none;
  }

  ul, li {
      list-style: none;
    }
    
    body {
        font-family: 'Assistant', sans-serif;
        background-color: var(--color-Lbeige);
    }
    
    h1 {
        font-family: var(--f-title);
        font-size: 2.19rem;
        color: var(--color-Dblue);
    }



 /* 
 Variables
 */

:root {
    --f-title:'Oleo Script Swash Caps', cursive;
    --f-subtitle: 'Arapey', serif; 
    --color-Lblue: #d9f1ff;
    --color-blue: #749cb3;
    --color-Dblue: #749cb3;
    --color-Lbeige: #fff9f2;
    --color-beige: #ffeeda;
    --color-chesnut: #b39f86;
}



 /* 
 Flux
 */

.flux {
    max-width: 2560px;
    width: 100%;
}


 /* 
 Texts
 */

.t-title {
    font-size: 1.7rem;
    font-family: var(--f-subtitle);
}

    .t-subtitle {
        margin-bottom: 7px;
        font-size: 1.1rem;
    }
    
    .t-title, .t-subtitle {
        padding-left: 25px;
    }
    
    .t-link {
        font-family: var(--f-subtitle);
        padding: 3px;
    }
    
    
    .p-style {
        text-align: justify;
        font-size: 1rem;
        padding: 0 30px 40px;
    }
    
    .p-style--beforefoot {
        margin-bottom: 100px;
        padding-left: 30px;
        display: inline-block;
    }


    .p-request {
        visibility:hidden;
    }

    .Social-request {
        visibility: hidden;
    }

 /*
 Media
 */
       
    .img {
       display: block;       
       margin: auto;
       max-width: 90%;
       height: auto;
       }
       

    .firstdog {

    }
       
       
       
 /* 
 header
 */
    
    .header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        height: 400px;
        padding-bottom:30px;
    }
    
    .header__image {
        width: 115px ;
    }
    
    .header__nav {
        width: 80%;
        padding-bottom: 12px;
        border-radius: 15px;
        text-align: center;
    }
    
    
    .header__link {
        color: var(--color-chesnut); 
        display: block;
        padding-top: 0.5em;
        font-size: 1.5em;
        font-weight: 600;
    }
    
    
    
 /* 
 cover
 */
    
    
    .cover {
        position: relative;
    }
    
  
    
    figcaption {
        font-weight: 500;
        text-align: center;
        padding-top: 20px;
    }
    

 /*
 introduction
 */
    
    
    
    
 /*
 Footer
 */
    
    
    .footer {
        position: relative;
        background-color: var(--color-blue);
        box-shadow: 0.8rem 1.2rem 1rem 1.3rem var(--color-blue);
        border-radius: 15px 15px 0 0;
        height: 710px;
        padding-top: 60px;
    }
    
    .footer-flex {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap:nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    
    .icon {
        max-width: 70px;
        width: 40%;
        padding-bottom: 10px;
    }
    

    .Contact {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    

    address li, .Social-network li {
        min-width: auto;
        padding-left: 40%;
    }
    
  .Social-network {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


 

  /*
  Media queries mobile/ tablet
 */
    
    
    @media screen and (min-width:768px) {
        
        h1 {
            font-size: 3rem;
        }
        
        .t-title, .t-subtitle {
            padding-left: 40px;
        }
        
        .p-style {
            padding: 0 50px 60px;
            font-size: 1.20rem;
        }
        
        .header__image {
            width: 125px;
        }
        
        .header__nav {
            width: 80%;
            border-radius: 15px;
            background-color: var(--color-beige); 
            box-shadow: 8px 9px 15px -5px var(--color-chesnut);
        }
        
        .img {
            width: 80%;
        }
        
        .footer {
            height: 600px;
        }
        
        .p-request {
            visibility:initial;
        }

        .Social-request {
            visibility: hidden;
        }
        
        .footer-flex {
            display: flex;
            flex-direction: row;
            align-items:center;
        }


        address li, .Social-network li {
            padding-bottom: 40px;
        }

        .icon {
            max-width: 120px;
        }
    }
    
    
 /*
 Media queries tablet
 */
    
 @media screen and (min-width:992px) {
    
    .header {
        margin-top: 50px;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        height: 180px;
    }


    .header__image {
        width: 115px;
    }

    h1 {
        font-size: 3.5rem;
        margin-top: 35px;
        margin-right: 5.5%;
    }

    .header__nav {
        margin-top: 3% ;
        width: 45%;
        height: 45px;
    }

    .header__link {
        font-size: 1.4rem;
        display: inline-block;
        padding: 10px 1.8%;
       
    }

    .img {
        width: 90%;
    }


 }

  





/*
Media queries large screen
*/    

/* .header__link:hover {
    color: var(--color-Dblue);
    transition: all 0.5s ease-in-out;
    transform: scaleX(1.2) ;
} */ */

/*
Media queries Xl screen
*/